SetEnvIf Host ^hashtags\.benjaminapple\.com passreq 
AuthType Basic 
AuthName "Hello!" 
AuthUserFile /home/bapple/webapps/hashtags/.hashpasswd 
Require valid-user 
Order allow,deny 
Allow from all 
Deny from env=passreq 
Satisfy any

<IfModule mod_php5.c>
php_value post_max_size 5M
php_value upload_max_filesize 5M
php_value memory_limit 800M
php_value max_execution_time 259200
php_value max_input_time 259200
php_value session.gc_maxlifetime 1200
</IfModule>