	
	.desktop {
		display: none;
	}
	
	.mobile { display: inline; }
	
	html {
		width: 100%;
		overflow-x: hidden;
	}
	
	body {
		width: 100%;
		overflow-x: hidden;
		background: #000;
		color: #fff;
	}
	
	a, a:visited {
		color: #46f;
	}
	
	body > #header > .wrap { padding: 0; width: auto; }
	
	#header {
		display: none;
	}
	
	body > #content {
		padding: 0px;
	}
	
	body > #content > .wrap { padding: 0; width: auto; }
	
	/* * * * * */
	
	#welcome {
		text-align: center;
		padding: 20px 10px 5px 10px;
	}
	
	#iam {
		padding: 10px 0px 15px 0px;
		margin: 0;
		font-size: 18px;
		font-weight: normal;
		border-bottom: 2px solid #666;
		line-height: 180%;
	}
	
	#iam .hash {
		font-weight: bold;
		color: #46f;
	}
	
	#rateFormatting {
		display: none;
	}
	
	#tweets {
		overflow: hidden;
	}
	
	.tweet {
		margin: 0;
		border-radius: 0;
		padding: 15px 10px;
		border: 0px;
		font-size: 18px;
		line-height: 1.5em;
		color: #fff;
	}
	
	.tweet:nth-child(even) {background: #000; }
	.tweet:nth-child(odd) {background: #222; }
	
	body#tweets_1 .tweet[tweet-rating="1"],
	body#tweets_1 .tweet[tweet-rating="2"] {
		color: #000;
		border: 0px;
		padding: 15px 10px;
	}
	
	body#tweets_1 .tweet:nth-child(even)[tweet-rating="1"] {background: #bbffcc; }
	body#tweets_1 .tweet:nth-child(even)[tweet-rating="2"] {background: #fff0b0; }
	
	body#tweets_1 .tweet:active,
	body#tweets_1 .tweet:hover {
		opacity: 1;
	}
	
	body#tweets_1 .tweet[tweet-state='highlighted'] {
		border: 0px;
		padding: 15px 10px;
	}
	
	#more {
		margin: 10px 0 20px 0;
	}
	
	#more #morebutton {
		box-shadow: none;
		padding: 10px;
	}
	
	#more #morebutton:hover, #more #morebutton:active {
		opacity: 1;
	}
	