
/*** GENERAL ***/

html {
	background: #eee;
	position: relative;
}

h1, h2, h3, h4 {
	margin: 0 0 .5em 0;
}

.center {
	text-align: center;
}

p {
	margin: 0 0 1em 0;
}

a, a:visited {
	text-decoration: none;
	cursor: pointer;
	color: #00f;
}

a:hover {
	text-decoration: underline;
}

.note {
	margin: 5px 0 0 0;
	color: #aaa;
}

button, input, select, label {
	cursor: pointer;
	vertical-align: middle;
	line-height: 1em;align
}

body {
	font-family: Helvetica Neue, Helvetica, Arial, Verdana;
	color: #111;
	font-size: 18px;
	padding: 40px;
	position: relative;
}

body #outer {
	max-width: 1280px;
	margin: 0 auto;
	position: relative;
}

body #wrapper {
	padding: 40px;
	border: 1px solid #aaa;
	background: #fff;
	margin: 0 auto;
	border-radius: 4px;
	position: relative;
}

/*** STUFF ***/

body h1#title {
	margin: 0 0 20px 0px;
}

body h1#title span.hashtag {
	color: #aaa;
	font-size: 24px;
	padding: 0 0 0 20px;
}

body h1#title .controls {
	display: block; float:right;
}

body h1#title a {
	font-size: 16px;
	font-weight: normal;
	display: inline-block;
	margin: 0 0 0 20px;
}

ol#options a {
	font-weight: bold;
}

/*** TWEETS ***/

div#tweets .tweet {
	position: relative;
	font-size: 24px;
	padding: 15px;
	color: #111;
	background: #eee;
	border: 1px solid #ddd;
	clear: both;
	min-height: 40px;
	margin: 0 auto 20px;
	max-width: 800px;
	border-radius: 4px;
}

div#tweets .tweet .username,
div#tweets .tweet .hash,
div#tweets .tweet .atjimmy { display: none; }

div#tweets[showusername=yes] .tweet .username,
div#tweets[showhash=yes] .tweet .hash,
div#tweets[showatjimmy=yes] .tweet .atjimmy {
	display: inline;
}

#tweets .tweet[color=red] {
	background: #fcc;
}

#tweets .tweet[color=blue] {
	background: #cdf;
}

#tweets .tweet[color=green] {
	background: #cfc;
}

#tweets .tweet[color=yellow] {
	background: #feb;
}

div#tweets[dofont=yes] .tweet {
	font-size: 12px;
	font-family: Times, Times New Roman, serif;
	min-height: 0px;
}

div#tweets.shownumbers .tweet:before {
	content: counter(my-badass-counter);
	counter-increment: my-badass-counter;
	display: block;
	position: absolute;
	top: 50%;
	margin-top: -20px;
	left: -70px;
	color: #ddd;
	font-size: 28px;
	width: 50px;
	height: 50px;
	text-align: center;
	
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

div#tweets .tweet .text {
	padding-right: 220px;
}

div#tweets.read .tweet {
	min-height: 0px;
}

div#tweets.read .tweet .text {
	padding: 0;
	margin-bottom: -1em;
}

div#tweets.read[dofont=yes] .tweet .text {
	
}

div#tweets.read .tweet .text a.username {
	font-weight: bold;
}

div#tweets .tweet .controls {
	position: absolute;
	top: 12px;
	right: 12px;
	text-align: right;
}

div#tweets .tweet  button {
	font-size: 36px;
	border: 1px solid #000;
	background: #fff;
	font-style: normal;
	display: inline-block;
	padding: 4px 10px;
	margin: 0 0 0 15px;
	font-weight: bold;
	cursor: pointer;
	border-radius: 3px;
	vertical-align: middle;
	line-height: 1em;
	position: relative;
	z-index: 10;
}

div#tweets .tweet button:hover {
	background: #bbb;
	color: #000;
}

div#tweets .tweet button:active {
	background: #000;
	color: #fff;
}

div#tweets .tweet[rating='1'] button,
div#tweets .tweet[rating='2'] button,
div#tweets .tweet[rating='3'] button,
div#tweets .tweet[rating='all'] button { opacity: .3; }

div#tweets .tweet button[value='2'] {
	font-size: 28px;
	padding: 8px 10px;
	letter-spacing: 2px;
}

div#tweets .tweet[rating='1'] button[value='1'],
div#tweets .tweet[rating='2'] button[value='2'],
div#tweets .tweet[rating='3'] button[value='3'],
div#tweets .tweet[rating='all'] button[value='all'] { opacity: 1!important; border: 1px solid #000; background: #4466FF; color: #fff; text-shadow: 2px 2px 2px rgba(0,0,0,.3); 
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: rgba(0,0,0,1);
}

div#tweets .tweet[rating='1'] button[value='1'] { background: #dd2200;}
div#tweets .tweet[rating='2'] button[value='2'] { background: #ffcf11;}
div#tweets .tweet[rating='3'] button[value='3'] { background: #00cc66;}

#tweets .tweets {
	display: none; 
	counter-reset: my-badass-counter;
}

#tweets[rating='3'] .tweets[rating='3'],
#tweets[rating='2'] .tweets[rating='2'],
#tweets[rating='1'] .tweets[rating='1'],
#tweets[rating='0'] .tweets[rating='0'],
#tweets[rating='all'] .tweets[rating='all'] {
	display: block;
}

.fakeButton {
	position: absolute;
	background: #fff;
	font-style: normal;
	display: inline-block;
	font-weight: bold;
	cursor: pointer;
	border-radius: 3px;
	vertical-align: middle;
	line-height: 1em;
}

.fake1 { background: #dd2200; }
.fake2 { background: #ffcf11; }
.fake3 { background: #00cc66; }

.tweet:hover .rewrite {
	display: none;
}

.tweet .rewrite {
	display: none;
	position: absolute;
	top: 70px;
	right: 12px;
	width: 190px;
	height: 20px;
	text-align: center;
}

.tweet .rewrite select {
	vertical-align: top;
	color: #000;
	font-size: 14px;
	padding: 3px; 15px;
}

/*** TWEET CONTROLS ***/

#viewControls {
	font-size: 24px;
}

span.viewButtons input,
span.viewButtons select {
	font-style: normal;
	display: inline-block;
	margin: 0 5px 0 0;
	font-size: 18px;
	padding: 4px 6px;
	border: 1px solid #000;
	background: #111;
	color: #fff;
	font-weight: normal;
	border-radius: 3px;
}

#viewControls[rating='3'] input[rating='3'],
#viewControls[rating='2'] input[rating='2'],
#viewControls[rating='1'] input[rating='1'],
#viewControls[rating='0'] input[rating='0'],
#viewControls[rating='all'] input[rating='all'] {
	background: #06d;
	color: #fff;
	text-shadow: 1px 1px 1px #000;
}

#formatting {
	float: right;
	font-size: 18px;
	padding-top: 6px;
}

#formatting input {
	vertical-align: middle;
	width: 24px;
	height: 24px;
	margin: 1px -4px 0px 0px;
}

#formatting label {
	
}

/*** PROGRESS ***/

#progress {
	position: fixed;
	bottom: 20px;
	font-size: 24px;
	left: 60px;
	border: 0px solid #000;
	background: rgba(0,0,0,.7);
	padding: 10px;
	color: #fff;
	text-shadow: 1px 1px 1px #000;
	border-radius: 5px;
}

#progress span {
	font-weight: bold;
	color: #4af;
}

#progress em {
	font-style: normal;
}

/*** JOEY ***/

#joey {
	position:fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 10000;
	background: rgba(0,0,0,.9);
}

#joey div {
	position: absolute;
	top: 45%;
	left: 50%;
	margin: -250px 0 0 -250px;
	width: 500px;
	height: 500px;
	border: 4px solid #000;
	background: url(/joey.jpg) center center no-repeat;
	border-radius: 8px;
	cursor: pointer;
	box-shadow: 12px 15px 3px rgba(0,0,0,.3);
	
}

#joey div:hover {
	border: 4px solid #333;
}

#joey div:active {
	margin: -255px 0 0 -255px;
	width: 510px;
	height: 510px;
	background-size: 100%;
}

/*** MISC ***/

#audio {
	opacity: 0;
}

#finished { font-size: 36px; text-align: center; margin: 40px 0;}

body#rate #rateFormatting {
	margin: 0 0 40px;
}

body#settings textarea {
	margin-top: 5px;
	padding: 8px;
}
