
/*** GENERAL ***/

html {
	position: relative;
}

h1, h2, h3, h4 {
	margin: 0 0 .5em 0;
}

.center {
	text-align: center;
}

p {
	margin: 0 0 1em 0;
}

a, a:visited {
	text-decoration: none;
	cursor: pointer;
	color: #00f;
}

a:hover {
	text-decoration: underline;
}

.note {
	margin: 5px 0 0 0;
	color: #aaa;
}

#none {
	text-align: center;
	margin: 10px 0;
	font-size: 24px;
	background: #f0f0f0;
	font-style: italic;
	border-radius: 10px;
	padding: 20px;
	color: #aaa;
	font-weight: bold;
}

button, input, select, label {
	cursor: pointer;
	vertical-align: middle;
	line-height: 1em;align
}

body {
	font-family: Helvetica Neue, Helvetica, Arial, Verdana;
	color: #111;
	font-size: 18px;
	position: relative;
	background: #fff;
}

body > #header {
	background: #333;
	overflow: auto;
	border-bottom: 1px solid #aaa;
}

body > #header > .wrap {
	padding: 20px 0;
	margin: 0 auto;
	overflow: auto;
	width: 1280px;
}

body > #content {
	margin: 0 auto;
	padding: 40px;
	border-radius: 4px;
	position: relative;
}

body > #content > .wrap {
	margin: 0 auto;
	width: 1280px;
	overflow: auto;
}

select, input, label {
	vertical-align: middle;
	font-family: inherit;
}

/*** STUFF ***/

h2.header {
	font-weight: normal;
	text-align: center;
	font-size: 24px;
	margin: 0 0 1em;
}

body h1#title {
	margin: 0 0 0px 0px;
	padding: 5px 0 0 20px;
	float: left;
	text-shadow: 2px 2px 1px #000;
}

body h1#title a {
	color: #fff;
}

body h1#title a:hover {
	text-decoration: none;
	opacity: .6;
}

body h1#title span.hashtag {
	display: block;
	color: #aaa;
	text-shadow: 2px 2px 1px #000;
	text-align: center;
	font-size: 24px;
	font-style: italic;
	margin: -5px 0 20px 0px;
	cursor: pointer;
}

body h1#title span.hashtag:hover em.one {
	display: none;
}

body h1#title span.hashtag em.two {
	display: none;
	font-size: 18px;
	margin: 0 0 20px 0;
	color: #f24;
}

body h1#title span.hashtag:hover em.two {
	display: inline;
}

body #header .controls {
	display: block;
	margin-top: 23px;
	float: right;
}

body #header .controls a {
	font-size: 16px;
	font-weight: bold;
	display: inline-block;
	margin: 0 0 0 20px;
	background: #24f;
	color: #fff;
	border-radius: 8px;
	border: 1px solid #000;
	text-shadow: 1px 2px #000;
	padding: 5px 8px;
}

body#tweets_1 #header .controls a:nth-child(1),
body#tweets_2 #header .controls a:nth-child(2),
body#tweets_3 #header .controls a:nth-child(3),
body#tweets_4 #header .controls a:nth-child(4) {
	opacity: .5;
	border: 4px solid #000;
	margin: -2px -3px 0 17px;
}

body #header .controls a:hover {
	text-decoration: none;
	opacity: .6;
}

ol#options a {
	font-weight: bold;
}


/*** JOEY ***/

#joey {
	position:fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 10000;
	background: rgba(0,0,0,.9);
}

#joey div {
	position: absolute;
	top: 45%;
	left: 50%;
	margin: -250px 0 0 -250px;
	width: 500px;
	height: 500px;
	border: 4px solid #000;
	background: url(/joey.jpg) center center no-repeat;
	border-radius: 8px;
	cursor: pointer;
	box-shadow: 12px 15px 3px rgba(0,0,0,.3);
	
}

#joey div:hover {
	border: 4px solid #333;
}

#joey div:active {
	margin: -255px 0 0 -255px;
	width: 510px;
	height: 510px;
	background-size: 100%;
}

/*** MISC ***/

#audio {
	opacity: 0;
}

#finished { font-size: 36px; text-align: center; margin: 40px 0;}

#rateFormatting {
	margin: 0 0 40px;
	text-align: center;
}

body#settings textarea {
	margin-top: 5px;
	padding: 8px;
}
