
	body#tweets_2 .tweet {
	
	}
	
	body#tweets_2 .tweet:hover {
		opacity: .6;
	}
	
	body#tweets_2 .tweet:active {
		opacity: .5;
	}
	
	body#tweets_2 .tweet[tweet-rating='1'] {
	    background: #aaffbb;
	    border: 4px solid #0c0;
		padding: 27px 37px;
	}
	
	body#tweets_2 .tweet[tweet-state='highlighted'] {
		border-style: dashed;
		border-width: 4px;
		padding: 27px 37px;
	}

	input.more {
	    font-size: 36px;
	    background: #0ae;
	    color: #fff;
	    padding: 30px 40px;
	}

	#iamfavoriting {
		text-align: center;
		font-size: 24px;
		margin: 0 0 40px;
	}

	#iamfavoriting select {
	
	}
	