
	#tweets {
		position: relative;
	
	}

	.tweet {
	
	    background: #eee;
	
		position: relative;
	
	    padding: 30px 40px;
	
	    font-size: 24px;
	    color: #000;
		border: 1px solid #aaa;
		cursor: pointer;
	
		border-radius: 8px;
	
		margin: 0 80px 20px;
	}
	
	div#tweets .tweet .username,
	div#tweets .tweet .hash,
	div#tweets .tweet .atjimmy { display: none; }

	div#tweets[showusername=yes] .tweet .username,
	div#tweets[showhash=yes] .tweet .hash,
	div#tweets[showatjimmy=yes] .tweet .atjimmy {
		display: inline;
	}
